/* ---------------
Variables
--------------- */
:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --slowtransition: all 0.5s linear;
  --slugslowtransition: all 0.7s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;

  --border-radius: 5px;
  --border-color: hsl(211, 27%, 70%);
  --chip-margin: 0 3% 0 3%;
}
/* ---------------
Global Styles
--------------- */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /*background: var(--clr-grey-10);*/
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/* section - general classes */
.section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}
.section-header-wrapper {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid lightgray;
  margin-bottom: 15px;
  margin-top: 25px;
  color: var(--clr-primary-2);
  background-color: #E8E8E8;
}
.section-header {
  font-weight: bold;
  font-size: 35px;
  word-wrap: break-word;
}
.section-subheader {
  font-style: italic;
  font-size: 1.2rem;
  font-weight: normal;
  word-wrap: break-word;
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

/* ---------------
Navbar
--------------- */
nav {
  background: var(--clr-white);
  border-bottom: 2px solid lightgray;
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  flex-wrap: wrap;
  overflow: hidden;
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-primary-5);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--clr-primary-2);
  transform: rotate(90deg);
}
.logo {
  height: 40px;
}
.links a {
  color: var(--clr-primary-2);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}
.links a:hover {
  background: var(--clr-primary-8);
  color: var(--clr-primary-5);
  padding-left: 1.5rem;
  cursor: pointer;
}
.social-icons {
  display: none;
}
.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-container {
  height: 10rem;
}
/**** mode toggle ****/
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  /*height: 26px;*/
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: var(--clr-primary-5);
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 15px;
}

.slider.round:before {
  border-radius: 50%;
}

/* ---------------
Intro Section
--------------- */
.intro-section-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin: var(--chip-margin)
}
.intro-image-holder {
  width: 45%;
  max-width: 320px;
  /*margin-right: 30px;*/
}
.intro-image-holder img{
  width: 100%;
}
.intro-space-holder {
  width: 8%;
}
.intro-text-holder {
  width: 45%;
  padding: 15px 10px 10px 10px;
  max-width: 600px;
  margin-top: 15px;
}
.intro-header {
  color: var(--clr-primary-2);
  font-size: 3.0rem;
  word-wrap: break-word;
}
/* ---------------
Project Chip
--------------- */
.projects-section-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /*margin: 0 4% 0 4%;*/
  margin: var(--chip-margin);
}
.proj-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 500px; /*600*/
  margin: 5px 5px 20px 5px;
  background-color: white;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  overflow: hidden;
}
.proj-header img {
  max-width: 500px;
  height: 200px;
  object-fit: fill;
 }
.proj-body {
  margin: 5px 5px 5px 5px;
  font-size: 1em;
}
.proj-title {
  font-weight: bold;
  font-size: 20px;
  margin: 10px 0 10px 0;
}
.proj-callout-n-buttons {
  margin-left: 5px;
  float: right;
  width: 50%;
}
.proj-callout {
  font-family: "Gill Sans", sans-serif;
  padding: 8px 5px 8px 5px;
  border: 1px solid gray;
  border-radius: 10px;
  margin: 0 0 10px 0;
}
.proj-callout-header {
  font-weight: bold;
  word-wrap: break-word;
}
.proj-button {
  background-color: #E8E8E8;
  color: var(--clr-primary-2);
  border: none;
  text-align: center;
  border-radius: 5px;
  margin: 5px 0 5px 0;
  padding: 8px 0 8px 0;
  font-size: 18px;
  width:100%;
  transition: var(--transition);
  word-wrap: break-word;
}
.proj-button:hover {
  background-color: #E8E8E8;
  color: var(--clr-primary-4);
  cursor: pointer;
}
/* ---------------
Projects Footer Links
--------------- */
.proj-footer-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 5px;
  padding: 8px 0 8px 0;
  background-color: #E8E8E8;
}
.proj-footer-link {
  transition: var(--transition);
  color: var(--clr-primary-2);
}
.proj-footer-link:hover {
  color: var(--clr-primary-4);
  cursor: pointer;
}
.proj-footer-icon {
  padding-top: 3px;
  float: left;
}
.proj-footer-anchor {
  margin-left: 8px;
  float: left;
  font-style: italic;
}

@media screen and (min-width: 800px) {
  .nav-center {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
  .social-icons {
    display: flex;
  }
  .social-icons a {
    margin: 0 0.5rem;
    color: var(--clr-primary-5);
    transition: var(--transition);
  }
  .social-icons a:hover {
    color: var(--clr-primary-7);
  }
}
/* ---------------
Footer
--------------- */
.main-footer-container {
  width: 100%;
  background-color: var(--clr-primary-2);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0 10px 0;
  height: 145px;
  margin-top: 50px;
  flex-wrap: wrap;
  overflow: hidden;
}
.main-footer-info {
  text-align: center;
  word-wrap: break-word;
  overflow: hidden;
}
.main-footer-copyright {
  text-align: center;
  word-wrap: break-word;
}
.footer-social-icons {
  display: flex;
  word-wrap: break-word;
}
.footer-social-icons a {
  margin: 0 0.5rem;
  color: var(--clr-grey-10);
  transition: var(--transition);
  display: flex;
  justify-content: space-around;
  word-wrap: break-word;
}
.footer-social-icons a:hover {
  color: #C8C8C8;
  cursor: pointer;
}

/* ------------------------------------------
Skills Section Table
------------------------------------------- */
.skills-table-outer-wrapper {
  overflow: hidden;
  margin: var(--chip-margin);
}
/* ---------------
Skills Filter Bar
--------------- */
.skills-filter-bar-wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  color: var(--clr-primary-2);
  margin: 10px 10px 10px 10px;
  padding: 5px 7px 5px 0;
  align-items: center;
}
.skills-refresh-wrapper {
  display: flex;
  flex-grow: 1;
}
.skills-refresh {
  display:flex;
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  transition: var(--transition);
}
.skills-refresh:hover {
  cursor: pointer;
  background-color: #E8E8E8;
}
.skills-refresh-icon {
  padding-top: 3px;
  margin-left: 5px;
}
.skills-filter-options-wrapper {
  display: flex;
  flex-grow: 8;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.skills-filter-option {
  border: 1px solid var(--clr-primary-2);
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  transition: var(--transition);
  margin: 3px 3px 3px 3px;
  word-wrap: break-word;
}
.skills-filter-option:hover {
  cursor: pointer;
  background-color: #E8E8E8;
}
/* ---------------
Skills
--------------- */
.skills-datatable-container {
  /*outline: 1px solid var(--clr-grey-7);*/
  margin: 10px 10px 10px 10px;
  padding: 0 7px 0 7px;
}
.skills-sort-arrows {
  height: 18px;
  width: 15px;
  display: inline-block;
  margin-left: 3px;
}
.skills-sort-arrows:hover {
  cursor: pointer;
}
.skills-header-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: var(--clr-primary-2);
  font-size: 1.4rem;
  border-bottom: 2px solid var(--clr-primary-2);
  padding: 10px 0 10px 0;
}
.skill-row-wrapper {
  border-bottom: 1px solid var(--clr-grey-7);
  transition: var(--slowtransition);
}
.skill-row-gray {
  background-color: var(--clr-grey-10)
}
.skill-row-wrapper:hover {
  cursor: pointer;
  background-color: var(--clr-grey-9);
}
.skills-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 0 0 0;
  font-size: 1.1rem;
}
.skills-row-item {
  flex: 1;
}
.skills-show-details-btn {
  color: var(--clr-primary-5);
  transition: var(--slowtransition);
  flex-grow: 1;
  margin: 0 3px 0 3px;
  text-align: center;
}
.skills-show-details-btn:hover {
  cursor: pointer;
  color: var(--clr-primary-8)
}
.skills-proficiency-score {
  background-color: white;
  display: inline-block;
  padding-right: 5px;
  font-size: .9rem;
  font-weight: bold;
}
.skill-col {
  display: flex;
}
.skills-freq-img {
}
.skills-freq-txt {
  margin-left: 5px;
  padding-top: 3px;
}
.skills-skill-col {
  display: flex;
}
.skills-skill-txt {
  margin-left: 4px;
}
.skills-category {
  border: 1px solid black;
  border-radius: 20px;
  padding: 1px 5px 1px 5px;
  margin: 0 3px 3px 0;
  display: inline-block;
}
/* ---------------
Skill Detail
--------------- */
.skills-row-detail {
  font-size: 1.1rem;
  padding: 8px 8px 8px 35px;
}
.skills-detail-title {
  color: var(--clr-primary-2);
  font-size: 1.4rem;
}
/* ---------------
Skill Pager Bar
--------------- */
.skill-pager-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 15px 10px 10px 10px;
  color: var(--clr-primary-2);
  font-size: 1.2rem;
}
.skills-show-wrapper {
  display: flex;
}
.skills-show-option {
  margin-left: 15px;
  transition: var(--slowtransition);
  padding-top: 1px;
  border-radius: 60px;
  width: 34px;
  height: 31px;
  text-align: center;
}
.skills-show-option:hover {
  cursor: pointer;
  color: var(--clr-grey-7);
}
.option-selected {
  color: var(--clr-grey-8);
}
/* ---------------
Demo Section
--------------- */
.demo-section-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: var(--chip-margin);
}
.demo-chip-wrapper {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 10px;
  margin: 5px 5px 5px 5px;
  max-width: 500px;
  transition: var(--slugslowtransition);
}
.demo-chip-wrapper:hover {
  background-color: var(--clr-grey-9);
  cursor: pointer;
}

.demo-chip-top {
  display: flex;
  justify-content: space-between;
}
.demo-chip-thumbnail {
  margin-right: 2%;
  width: 49%;
}
.demo-chip-thumbnail img {
  width: 100%;
  height: 200px;
  object-fit: fill;
}
.demo-chip-top-text {
  width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.demo-chip-content {
  flex-grow: 2;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 55%;
}
.demo-chip-tile {
  color: var(--clr-primary-2);
  font-weight: bold;
  font-size: 1.2rem;
}
.demo-chip-callouttext {
  font-style: italic;
  color: var(--clr-grey-5);
  font-size: .9rem;
  word-wrap: break-word;
}
.demo-chip-detail {
  word-wrap: break-word;
}

/* ---------------
Demo Detail
--------------- */
.demo-detail-outer-wrapper {
  display: flex;
  justify-content: center;
}
.demo-detail-header {
  text-align: center;
  margin-top: 15px;
}
.demo-detail-wrapper {
  width: 100%;
  margin-left: 4%;
  margin-right: 4%;
  max-width: 1200px;
}
.demo-media-wrapper {
  width: 100%;
  height: 500px;
  max-width: 1000px;
  background-color: gray;
  display: flex;
}
.demo-media-wrapper iframe {
  width: 100%;
}
.demo-detail-section-title {
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 10px;
}
.demo-media-link {
  font-size: .7rem;
  font-style: italic;
  word-wrap: break-word;
  overflow: hidden;
}
.demo-detail-section-asside {
  font-size: 1.1rem;
  font-style: italic;
  /*margin-top: 2px;*/
}
.demo-detail-section-text {
  font-size: 1.1rem;
  margin-top: 5px;
}
.two-cols {
  display:flex;
  margin-top: 10px;
  justify-content: space-between;
}
.small-col {
  flex-grow: 1;
  width: 44%;
}
.big-col {
  flex-grow: 4;
  width: 53%;
  background-color: #F8F8F8;
}
.big-col img {
  max-height: 300px;
  object-fit: scale-down;
}
.margin-top {
  margin-top: 15px;
}
/****Demo Detail Responsive Image ****/
.flexible-container {
  position: relative;
  padding-top: 0;
  height: 0;
  overflow: hidden;
}
.flexible-margin-demo {
  padding-bottom: 56.25%;
}
.flexible-margin-projects {
  padding-bottom: 34.25%;
}
.flexible-container iframe,
.flexible-container object,
.flexible-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.flexible-image {
  width: 100%;
  height: auto;
}
/* ---------------
Badges Section
--------------- */
.container {
  display: flex;
  overflow-x: auto;
  /*justify-content: center;*/
  margin: var(--chip-margin);
}
.container::-webkit-scrollbar {    display: none;}
.badge-wrapper {
  margin: 5px 60px 4px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 250px;
}
.badge-progress-bar-outer {
  margin-left: auto;
  margin-right: auto;
  height: 13px;
  width: 100px;
  background-color: lightgray;
  border-radius: 7px;
}
.badge-progress-bar-inner {
  background-color: var(--clr-green-dark);
  height: 13px;
  border-radius: 7px;
}
.badge-img-wrapper img {
  width: 250px;
  height: 210px;
}
.badge-txt {
  text-align: center;
  margin-top: 25px;
}

/* ---------------
Contact Section
--------------- */
.contact-wrapper {
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin: var(--chip-margin);
}
.contact-google-map_wrapper {
  width: 65%;
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin-right: 15px;
}
.contact-info-box-left {
    position: absolute;
    background-color: black;
    bottom: 15px;
    left: 65px;
    opacity: .7;
    padding: 15px;
    border-radius: 5px;
}
.contact-info-box-right {
    margin: 15px 0 10px 0;
    background-color: black;
    bottom: 15px;
    left: 65px;
    opacity: .7;
    padding: 15px;
    border-radius: 5px;
    display: none;
}
.contact-info-txt {
    opacity: 1.0;
    color: white;
    text-align: center;
    padding: 3px;
    margin-top: 5px;
    font-size: 1.2rem;
    font-weight: bold;
}
.contact-form {
    width: 30%;
    max-width: 500px;
    padding: 10px;
    color: var(--clr-primary-2);
}
.contact-form-title {
    font-size: 1.6rem;
    font-weight: bold;
    width: 100%;
}
.contact-form-subtitle {
    width: 100%;
}
.contact-form-label {
    display: block;
    margin-top: 10px;
    font-size: 1.2rem;
    width: 100%;
}
.contact-form-input {
    display: block;
    width: 100%;
    border-radius: 5px;
    height: 35px;
    font-size: 1.4rem;
    margin-top: 5px;
    border: 2px solid var(--clr-primary-2);
}
.contact-message {
    height: 120px;
}
.contact-form-submit {
    font-size: 1.4rem;
    width: 100%;
    margin-top: 25px;
    background-color: var(--clr-primary-2);
    color: white;
    height: 50px;
    border-radius: 5px;
    transition: var(--slowtransition);
}
.contact-form-submit:hover {
    cursor: pointer;
    background-color: var(--clr-primary-3);
}
/* ---------------
Placeholder
--------------- */
.dummy {
    background-color: tan;
    width: 100%;
    height: 600px;
    text-align: center;
    overflow: hidden;
}
.dummy-header {
    word-wrap: break-word
}

@media only screen and (max-width: 1040px) {
  .demo-chip-wrapper {
        max-width: 500px;
  }
}

@media only screen and (max-width: 600px) {
  .demo-chip-wrapper {
        border: 1px solid var(--border-color);
        border-radius: var(--border-radius);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
        max-width: 100%;
        align-items: center;
  }
  .demo-chip-tile {
        text-align: center;
        font-size: 1.2rem;
        width: 100%
  }
  .demo-chip-top-text {
    width: 100%;
  }
  .demo-chip-top {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .demo-chip-callouttext {
    display: none;
  }
  .demo-chip-thumbnail {
    width: 100%;
  }
  .testbox {
    background-color: salmon;
    width: 100%;
    height: 150px;
  }
  /* ---------------
  Badges Section
  --------------- */
  .badge-wrapper {
        margin: 5px 20px 4px 20px;
  }
  .badge-img-wrapper img {
        width: 150px;
        height: 110px;
  }
  .badge-txt {
        margin-top: 7px;
        font-size: .8rem;
  }
  /* ---------------
  Contact Section
  --------------- */
    .contact-google-map_wrapper {
            display: none;
    }

    .contact-info-box-right {
            display: block;
    }
    .contact-form {
            width: 100%;
    }
  /* ---------------
  Intro Section
  --------------- */
  .intro-section-holder {
    flex-direction: column;
    margin: 0 4% 0 4%;
  }
  .intro-image-holder {
    width: 100%;
    /*margin-right: 30px;*/
  }
  .intro-header {
    font-size: 2.0rem;
    text-align: center;
  }
  .intro-text-holder {
    width: 100%;
  }
  /*.intro-image-holder img{*/
  /*  width: 100%;*/
  /*}*/
  .intro-space-holder {
    width: 8%; /* 6% */
  }
}
